:root{
    --text-color: #333333;
    --accent-color: #4caf50 ;
    --accent-hover-color: #358c38;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #1d1d1d;
}

nav{
    background-color: #d5d5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 8px;
}

nav h2{
    color:var(--text-color);
    font-size: 24px;
}

.link a{
text-decoration: none;
color: #000000;
font-size: 18px;
margin: 15px;
}

.link a:hover{
    text-decoration: underline;
}

nav button{
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 16px;
    padding:  8px 16px;
    border-radius: 4px;
    cursor: pointer;

}

nav button:hover{
    background-color: var(--accent-hover-color);
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 20px auto;
    gap: 20px;
}

.main-left {
    width: 80%;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
}

.main-left h2{
    font-size: 80px;
    margin-bottom: 20px;
    /* color: var(--text-color); */
}

.main-left p{
    font-size: 24px;
    color: #d5d5d5;
    line-height: 1.5;
}

.main-left button {
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 16px;
    padding:  8px 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.main-left button:hover{
    background-color: var(--accent-hover-color);
}

.main-right img{
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

.content h2{
    text-align: center;
    color: #fff;
    font-size: 36px;
    /* display: flex; */
}

.cohort-cards{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.card {
    background-color: #2c2c2c;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card button{
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 16px;
    padding:  8px 16px;
    border-radius: 4px;
    /* margin-top: 20px; */
    cursor: pointer;
}

.card button:hover{
    background-color: var(--accent-hover-color);
}

.card img{
    width: 100%;
    border-radius: 4px;
}

footer{
    background: #000;
    padding: 20px;
}

footer h1{
    margin-top: 40px;
    color: #fff;
    text-align: center;
    font-size: 60px;
}

footer img{
    width: 400px;
    border-radius: 8px;
}

.foot{
    display: flex;
    justify-content: space-around;
}

.social {
    display: flex;
    flex-direction: column;
    /* align-items: col; */
    gap: 10px;
}

.social a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.social a:hover{
    text-decoration: underline;

}

.contact{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* align-items: center; */
}

.contact label{
    color: #fff;

}
.contact input{
    border: none;
    padding: 10px;
    border-radius: 4px;
    margin: 15px;
}

.contact button{
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 16px;
    padding:  8px 16px;
    border-radius: 4px;
    /* margin-top: 20px; */
    cursor: pointer;
}

.contact button:hover{
    background-color: var(--accent-hover-color);
}

.copy{
    background-color: #969494;
    font-size: 10px;
    color: #1d1d1d;
    padding-left: 20px;
}

@media (max-width: 768px) {
    nav {
      flex-direction: column;
      gap: 10px;
    }
  
    main {
      flex-direction: column;
    }
  
    .cohort-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .foot {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
  